/* stiluri comune */
body{
    background-color: rgb(13, 13, 13);
    font-family: 'Roboto', sans-serif;
}
#nav-bar a{
    text-decoration: none;
    color: #eee;
}
#nav-bar {
    background-color: #1d1d1d;
}
#nav-bar .logo{
    border: 5px solid rgb(89, 2, 2);
    border-radius: 100%;
    background-color: #1d1d1d;
    box-shadow: 0 0 10px 5px black;
}